<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Атрибуты билета</title>
  <style>
        body {
            font-family: Arial, sans-serif;
        }

        .ticket-info {
            margin-top: 20px;
            list-style-type: none;
            padding: 0;
        }

        .ticket-info li {
            margin-bottom: 10px;
        }

        .ticket-info label {
            font-weight: bold;
            margin-right: 5px;
        }
    </style>
</head>
<body>
<h1>Атрибуты билета</h1>

<ul class="ticket-info">
  <li>
    <label>Наименование фильма:</label>
    <span id="filmName">Фильм 1</span>
  </li>
  <li>
    <label>Номер:</label>
    <span id="ticketNumber">12345</span>
  </li>
  <li>
    <label>Место:</label>
    <span id="seatNumber">A12</span>
  </li>
</ul>
</body>
</html>
